div.product-card__name.card-title.h5{
    font-size: 30px;
}

.product-card__price{
    font-size: 25px;
}

img.card-img-top.product-card__image{
    width: auto;
    height: 500px;
}


@media (max-width: 525px) {
    img.card-img-top.product-card__image{
        width: auto;
        height: 350px;
    }
    div.product-card__name.card-title.h5{
        font-size: 20px;
    }
    
    .product-card__price{
        font-size: 15px;
    }
}

@media (max-width: 370px) {
    img.card-img-top.product-card__image{
        width: auto;
        height: 300px;
    }
}