.SmallButton{
    margin: 5px;
    width: 20px;
    margin-bottom: 15px;
}

button.SmallButton.btn.btn-dark.btn-sm{
    border: none;
    width: 160px;
    background-color: #ced4da;
    color: black;
}

button.SmallButton.btn.btn-dark.btn-sm:hover{
    background-color: #212529;
    border: none;
    color: white;
    border-radius: 10px;
}

