#collasible-nav-dropdown{
    padding: 0rem;
}

a.active{
    transition: color .15s ease-in-out;
    transition-property: color;
    transition-duration: 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s, 0s, 0s;
    color: rgba(255,255,255,.55);
}

a.active:hover{
    color: rgb(233, 233, 233);
    transform: translateY(-1px);
    box-shadow: transparent;
}

#collasible-nav-dropdown:hover{
    color: rgb(233, 233, 233);
    transform: translateY(-1px);
    box-shadow: transparent;
}

.logo{
    margin-right: 15px;
}

.logo:hover{
    transform: translateY(-2px);
    box-shadow: transparent;
}

div.navbar-nav{
    align-items: center;
}